@charset "utf-8";
/* CSS Document */

	/* Resets */
	

	

ul {
    padding:0;
    margin:0 0 20px 0;
    list-style:none;
}
h1, h2 {
    padding:0;
    margin:0 0 20px 0;
    font-weight:normal;
}
p {
    padding:0;
    margin:0 0 20px 0;
}
a{
    text-decoration:none;
	color: black;
}
ul li {
    padding:5px 0;
}
ul li input[type="text"], ul li input[type="password"] {
    width:200px;
}
/* Headers */
h1 {
    font-size:1.8em;
}
h2 {
    font-size:1.4em;
}
.logo {

    font:2em Arial;
    margin:0 0 10px 0;
    padding:0;
    width:400px;
    color:black;
}

/* Containers */
body {
	
	max-height: 1600px;
    background:gray;
    font-family:Arial;
    font-size:0.8em;
}
#container {
    background:#fff;
    width:1080px;
    margin:0 auto;
    padding:20px;
	height: 1600px;
    border-radius:5px 5px 0 0;
}


header {
    width:1080px;
    padding:10px;
    margin:0 auto 10px auto;
}


footer {
	background-color: white;
	opacity: 0.8;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 20px;
	padding: 5px;
	padding-left: 20px;}
/*.widget {
	
    margin-bottom:20px;
}
.widget h2 {
    margin:0 0 10px 0;
    padding:0 5px;
    font-weight:normal;
    border-bottom:1px solid #ddd;
}
.widget .inner {
    margin:0 10px;
}*/
/* Navigation */
nav {
    float:left;
}
nav ul {
    margin:0;
}
nav ul li {
    display:inline;
    margin-right:10px;
}
nav ul li a {
    text-decoration:none;
}
nav ul li.current {
    font-weight:bold;
}
nav ul li a.last {
    border-right:0;
}



/* Aside */
aside {
    width:260px;
    float:right;
    /*border-left:1px dashed #aaa;*/
    padding-left:15px;
}
/* Login */
#login li.link {
    margin-top:5px;
}
/* Footer */
footer {
    border-top:1px dashed #ddd;
    color:#999;
}
/* Misc */
.clear {
    clear:both;
}/* CSS Document */

figure {
	
	margin-left: 10px;
	float: left;
}

img{
	width: 200px;
	height: 280px;


}

figcaption{
	font-size: 18px;
	margin: 4px;
	font-weight: bold;
	width: 180px;
}

#game-container{
	width: 750px;
	height: auto;
	
}

#tvarkymas{
	clear: both;
}
